/* STYLE SOME CORE ELEMENTS OF EVERY PAGE-START */

/* style the body of the page*/

body{
    margin:0px;
    font-family: 'DynaPuff', cursive;
    background-color:#B1B1C8;
    color:white;
    text-shadow: 2px 2px black;
    background-image: url("https://thumbs.dreamstime.com/b/black-white-seamless-pattern-dots-manga-style-152911192.jpg");
}

 /* style the footer of the pages */
footer{
    margin-top:40px;
    margin-bottom: 0px;
    background-color: #525B76;
    padding:20px;
    color:white;
    text-align: center;
}

/* STYLE SOME CORE ELEMENTS OF EVERY PAGE-END */

/* STYLE THE NAVIGATION BAR OF THE PAGES-START */
.navbar{
    background-color: #525B76;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:20px;
}


/* style the li elements */
.page-links{
    float:left;
}

/* style the a elements */
.page{
    display:block;
    color:white;
    padding:14px 16px;
    text-align:center;
    text-decoration:none;
}

/* style the a elements when cursor is over them */
.page-links .page:hover{
    background-color:#393D63;
}

/* style the active page's link to look darker */
.active{
    background-color: #201E50 ;
}

/* STYLE THE NAVIGATION BAR OF THE PAGES-END */

/* STYLE ALL THE ELEMENTS INSIDE THE CONTAINER OF THE WELCOMING PAGE-START */

/* style the trasparent container */
.container{
    background-color: rgba(82, 91, 118, 0.9) ;
    width:60%;
    margin:0 auto;
    padding-bottom: 50px;
    border-radius:10px;
    margin-top:30px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
}


/* style the welcoming header and the header of page three*/
.home-header, .best-anime, .anime-gallery{
    width:fit-content;
    text-align: center;
    text-decoration: underline;
    margin:0 auto;
    margin-top:25px;
    font-size:50px;
    color:white;
}

/* style the anime title headers*/
.anime-title{
    width:fit-content;
    text-align: center;
    margin:0 auto;
    margin-top:50px;
    text-decoration: underline;
    color:white;
}

/* style the paragraphs of the anime description */
.anime-descr{
    margin: 0 auto;
    justify-content: center;
    width:60%;
    margin-top:12px;
    background-color: #393D63;
    color:white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
}

/* style the anime characters image of page no1*/
.characters{
    width:80%;
    border-radius:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
}

/* STYLE ALL THE ELEMENTS INSIDE THE CONTAINER OF THE WELCOMING PAGE-END */

/*STYLE ALL THE ELEMENTS OF THE SUBSCRIPTION FORM-START */

/* style the form of subscription */
.user_form{
    background-color: rgba(82, 91, 118, 0.9) ;
    width:30%;
    height:600px;
    margin:0 auto;
    border-radius:10px;
    margin-top:30px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    display:block;
    justify-content: center;
    text-align: center;
}

/* style the legend of the subscription form */
.legendary{
    text-align:left;
    margin-left:10%;
    font-size:25px;
}

/* style the inputs of text an email boxes of the form */
input[type=text], input[type=email]{
    outline: none;
    width:40%;
    height:25px;
    margin-top:10px;
    border-radius:10px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    border:2px solid lightgray;
    font-family: 'DynaPuff', cursive;
    font-style: italic;
    padding:5px;
}

/* style the textarea of the form */
textarea{
    outline: none;
    width:50%;
    height:80px;
    margin-top:15px;
    border-radius:10px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    border:2px solid lightgray;
    font-family: 'DynaPuff', cursive;
    font-style: italic;
    padding:5px;
}

/* style the input types of text, email and textarea when clicking on the boxes */
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border:2px solid black;
    outline: none;
    transition: 0.5s;
}

/* style the button of the form */
button{
    outline: none;
    width:30%;
    border-radius:10px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    border:2px solid #201E50 ;
    font-family: 'DynaPuff', cursive;
    font-style: italic;
    padding:5px;
    background-color:#393D63;
    color:white;
    font-size:20px;
    margin-top:20px;
}

/* style the button of the form when clicking on it */
button:focus{
    border:2px solid black;
    outline: none;
    background-color: lightgray;
    color:black;
    transition: 0.5s;
}

/* style the checkboxes of the form */
input[type=checkbox]{
    outline: none;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    border:2px solid lightgray;
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-right:25px;
}

/* style the display of the container for the checkboxes */
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* style the labels of the form */
label{
    font-size:20px;
}

/*STYLE ALL THE ELEMENTS OF THE SUBSCRIPTION FORM-END*/

/* STYLE ALL THE ELEMENTS OF THE TOP ANIME TAB-START */

/* style the unordered list */
.list{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin:10px;
    padding:10px;
    font-size:23px;
}


/* style the divs that contain the image and the li elements of the list with the links to youtube videos*/
.mini-container{
    background-color: #201E50;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    border-radius: 10px;
    margin:10px;
    width:fit-content;
    height: fit-content;
    align-items: center;
}

/* atyle the images of the anime  inside the mini-container div*/
.anime-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:250px;
    height:150px;
}

/* style the links to the youtube videos */
.videos{
    color:white;
    font-size:13px;
}

/* STYLE ALL THE ELEMENTS OF THE TOP ANIME TAB-END */


/* STYLE ALL THE ELEMENTS INSIDE THE GALLERY CONTAINER-START */

/* style the label of each image of the gallery */
.gallery-label{
    font-size:15px;
    display:block;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}


/* style  each image of the gallery */
.gallery-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:300px;
    height:200px;
}

/* style the div tha contains the link at the bottom of every page's container  */
.end-link{
    text-align: center;
    font-size:20px;
    background-color:#393D63;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem hsl(300, 3%, 7%);
    width:40%;
    margin:0 auto;

}

/* style the link at the bottom of every page's container */
.last-link{
    color: white;
    text-decoration: underline;
}

/* STYLE ALL THE ELEMENTS INSIDE THE GALLERY CONTAINER-END */


/* STYLE THE SOCIAL MEDIA ICONS-START */

 /* Style all font awesome icons */
 .fa {
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0.2rem hsl(300, 3%, 7%);
    border-radius: 40%;
    margin:2px;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  /* Set a specific color for each brand */

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    background: #cd486b;
    color: white;
  }

  /* STYLE THE SOCIAL MEDIA ICONS-END */
